{% extends 'base.html' %}

{% block content %}
<div class="container-fluid">
    <div class="row text-center">
        <div class="col-1 offset-2">Lengua Española</div>
        <div class="col-1">Matemáticoas</div>
        <div class="col-1">Ciencias Sociales</div>
        <div class="col-1">Biología</div>
        <div class="col-1">Moral y Cívica</div>
        <div class="col-1">Educación Física</div>
        <div class="col-1">Inglés</div>
        <div class="col-1">Informática</div>
        <div class="col-1">Formación Humana y Religiosa</div>
    </div>
    <div class="row grades-row">
        <div class="col-1 offset-1 row-header text-center">
            Calificaciones del año escolar
        </div>
        <div class="col-1">
            <label for="AGO-SEPT-OCT">AGO-SEPT-OCT</label>
            <input id="AGO-SEPT-OCT" name="" type="text" />
        </div>
        <div class="col-1"></div>
        <div class="col-1"></div>
        <div class="col-1"></div>
        <div class="col-1"></div>
        <div class="col-1"></div>
        <div class="col-1"></div>
        <div class="col-1"></div>
        <div class="col-1"></div>
    </div>
</div>
{% endblock %}